@model IEnumerable<ostad_assignment_1.Models.DeviceAssignModel>


<!DOCTYPE html>


<style>
    .clsHeaderLink {
        display: inline;
        margin-right: 10%;
    }

    .clsLeftLink {
        margin: 10px;
    }

    .clsBodyDiv {
        display: inline-block;
    }

    .body-content {
        max-width: 90%;
    }

    #idEquipList_info, #idEquipList_paginate, #idEmployeeList_info, #idEmployeeList_paginate {
        font-size: small;
    }
</style>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>




<html>
<head>
    <title>Samdani Assignment 2</title>
</head>
<body>
    <header>
        <div>
            <h4 style="text-align: center;">Samdani 2nd Assignment of Ostad learning</h4>
            <nav>
                <ul style="margin-left: 36%;">
                    <li class="clsHeaderLink"><a href="#">test_1</a></li>
                    <li class="clsHeaderLink"><a href="#">test_2</a></li>
                    <li class="clsHeaderLink"><a href="#">test_3</a></li>
                </ul>
            </nav>
        </div>

    </header>

    <div class="" style="margin-top:5%">
        <main>

            <div class="clsBodyDiv" style="background-color: aquamarine; width:17%; ">
                <div><h4 style="padding-left: 10px;">left navigational pannel:</h4></div>
                <div>
                    <ul>
                        <li class="clsLeftLink"><a href="#">Home</a></li>
                        <li class="clsLeftLink"><a href="#">About Me</a></li>
                        <li class="clsLeftLink"><a href="#">Service</a></li>
                    </ul>

                </div>
            </div>
            <div class="clsBodyDiv" style="background-color: blanchedalmond; width: 80%; Float: right; padding-top: 3%;">


                <div class="row">
                    <div class="col col-6" style="padding-right: 3%; padding-left: 2%;">
                        <div> <H4 style="margin-left: 25%;"><u>Total Equipment List:</u></H4></div>
                        <br />
                        <table id="idEquipList" class="cell-border">
                            <thead>
                                <tr>
                                    <th>Equipment Id</th>
                                    <th>Name</th>
                                    <th>Total No</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var allEquipment = ostad_assignment_1.Models.EquipmentHelper.AllEquipmentList();

                                    foreach (ostad_assignment_1.Models.Equipment e in allEquipment)
                                    {
                                        <tr>
                                            <td>@e.EquipmentId</td>
                                            <td>@e.EquipmentName</td>
                                            <td>@e.TotalNo</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>


                    <div class="col col-md-6" style="padding-left: 3%; padding-right: 2%;">
                        <div> <H4 style="margin-left: 25%;"><u>Total Employee List:</u></H4></div>
                        <br />
                        <table id="idEmployeeList" class="cell-border">
                            <thead>
                                <tr>
                                    <th>Emplyee Id</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var allEmployee = ostad_assignment_1.Models.Employe.TotalEmployeeCount();

                                    foreach (ostad_assignment_1.Models.Employe em in allEmployee)
                                    {
                                        <tr>
                                            <td>@em.EmployeeId</td>
                                            <td>@em.EmployeeName</td>
                                            <td>@em.EmpDesignation</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <br />
                <br />
                <div class="row" style="margin-left: 25%;">
                    <div class="col col-md-9" style="padding-left: 3%; padding-right: 2%;">
                        <div> <H4 style="margin-left: 13%;"><u>Equipment Assigned to Employees</u></H4></div>
                        <br />
                        <table id="idEquipAssign" class="cell-border">
                            <thead>
                                <tr>
                                    <th>Emplyee Id</th>
                                    <th>Name</th>
                                    <th>Designation</th>
                                    <th>Equipment Assigned</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var allEmployee1 = ostad_assignment_1.Models.Employe.TotalEmployeeCount();

                                    foreach (var m in Model )
                                    {
                                        <tr>
                                            <td>@m.EmpId</td>
                                            <td>@m.EmpName</td>
                                            <td>@m.EmpDesignation</td>
                                            <td>@m.EquipmentAssigned</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </main>

        @*<footer>
                <div style="margin-top:5%">
                    <p>&copy; 2024 My Web Page. All rights reserved.</p>
                    <p> contact: xyz, dhaka.</p>
                </div>

            </footer>*@
    </div>
</body>
</html>

<script>

    $(document).ready(function () {
        $('#idEquipList').DataTable();
    })
    $(document).ready(function () {
        $('#idEmployeeList').DataTable();
    })
    $(document).ready(function () {
        $('#idEquipAssign').DataTable();
    })

</script>








